 body {
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-header .list-inline {
    padding: 10px 0;
}

li {

    list-style: none !important;

}

.top-header .social-list li a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #949494;
    display: inline-block;
}
 
 .top-header .sign-in {
    text-transform: uppercase;
    font-weight: 600;
     margin-left: 20px;
}

 .top-header .social-list li {
   list-style: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 30px;
}

 
.hotline::before {

    position: absolute;
    top: 0px;
    left: -46px;
    content: '';
    border-width: 23px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(195, 246, 70, 0.82);
    border-bottom-color: rgba(195, 246, 70, 0.82);

}

.hotline {

    margin-top: 30px;
    position: relative;
    height: 46px;
    background: rgba(195, 246, 70, 0.82);
    display: inline-block;
    margin-right: 1px;
    float: right;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;

}

.bg-3 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/*navigation*/
.navbar-collapse {

    padding: 0px;
  

}
.menu .navbar-collapse > ul {

    position: relative;
    z-index: 2;

}

 
.menu, .menu ul, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {

    background: none;

}

.main-menu {

    background: rgba(12, 12, 12, 0.9);
    position: relative;
    height: 70px;

}

.menu {

    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;

}

.menu .navbar-collapse > ul {

    position: relative;
    z-index: 2;

}

.navbar-default .navbar-nav li a {

    padding: 25px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.navbar-default .navbar-nav li ul li {

    border-bottom: 1px solid #e5e5e5;

}

button, a, a:hover, a:active, a:focus, a:visited {

    text-decoration: none;
    outline: none;

}

.navbar-default .navbar-nav li ul {

    background: #fafafa;

}

.navbar-nav > li > .dropdown-menu {

    border-radius: 0px;
    border: none;
        border-top-width: medium;
        border-top-style: none;
        border-top-color: currentcolor;
    box-shadow: 0px 0px 0px 0px;
    border-top: 0px;
    padding: 0px;
    margin: 0px;
    min-width: 220px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

}

ul {

    padding-left: 0px;
    margin-bottom: 0px;

}



.navbar-default .navbar-nav li ul li a {
     border-right: none;
    padding: 12px 25px;
    color: #555;

}

.navbar-default .navbar-nav li a {

    padding: 25px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.search-box {
    position: absolute;
    top: 13px;
    text-align: right;
    right: 13px;
    z-index: 99;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav li ul li a, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a:focus {

    color: #fff;

}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav li a.active,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:active,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #f35c5c;
    background: none;
}

/*navigation*/
.wrap-body-inner {
    width: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px !important;
    float: left !important;
}



#wrap-body, .wrap-body-inner {
    background: #fff;
}

/*breadcrumb*/
.ht-breadcrumb {
    margin-top: 5px !important;
     margin-bottom: 5px;
}
 
ul {
    padding-left: 0px;
 
}
li::after {
    border-left-color: #eee;
}
.ht-breadcrumb li::after {
    position: absolute;
    top: 0px;
    right: -33px;
    content: '';
    border-width: 17px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.ht-breadcrumb li::before {
    position: absolute;
    top: 0px;
    right: -33px;
    content: '';
    border-width: 17px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.ht-breadcrumb li {
    background: #eee;
    color: #333;
}

.ht-breadcrumb li {
    float: left;
    position: relative;
}
 
ul li {
        list-style-type:none;
    list-style: none !important;

}

.ht-breadcrumb li:first-child a {
    padding-left: 12px;
    padding-right: 0px;
}
.ht-breadcrumb li a {
    color: #333;
}
.ht-breadcrumb li a, .ht-breadcrumb li.active {
    padding: 5px 12px 5px 30px;
        padding-right: 12px;
        padding-left: 30px;
    display: block;
    height: 34px;
}

/*breadcrumb*/