USE [CarSalesDB]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ViewPortSetting_ViewPort]') AND parent_object_id = OBJECT_ID(N'[dbo].[ViewPortSetting]'))
ALTER TABLE [dbo].[ViewPortSetting] DROP CONSTRAINT [FK_ViewPortSetting_ViewPort]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_VehicleAdvertisement]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller] DROP CONSTRAINT [FK_VehicleSeller_VehicleAdvertisement]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_Seller]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller] DROP CONSTRAINT [FK_VehicleSeller_Seller]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleModel_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleModel]'))
ALTER TABLE [dbo].[VehicleModel] DROP CONSTRAINT [FK_VehicleModel_VehicleMake]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleModel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [FK_VehicleAdvertisement_VehicleModel]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [FK_VehicleAdvertisement_VehicleMake]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleFuel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [FK_VehicleAdvertisement_VehicleFuel]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleBody]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [FK_VehicleAdvertisement_VehicleBody]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]'))
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]'))
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_VehicleAdvertisement_Transmission]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [DF_VehicleAdvertisement_Transmission]
END

GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_VehicleAdvertisement_IsFeatured]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[VehicleAdvertisement] DROP CONSTRAINT [DF_VehicleAdvertisement_IsFeatured]
END

GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND name = N'UserNameIndex')
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND name = N'IX_UserId')
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND name = N'IX_RoleId')
DROP INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND name = N'IX_UserId')
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND name = N'IX_UserId')
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND name = N'RoleNameIndex')
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[ViewPortSetting]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewPortSetting]') AND type in (N'U'))
DROP TABLE [dbo].[ViewPortSetting]
GO
/****** Object:  Table [dbo].[ViewPort]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewPort]') AND type in (N'U'))
DROP TABLE [dbo].[ViewPort]
GO
/****** Object:  Table [dbo].[VehicleSeller]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleSeller]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleSeller]
GO
/****** Object:  Table [dbo].[VehicleModel]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleModel]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleModel]
GO
/****** Object:  Table [dbo].[VehicleMake]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleMake]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleMake]
GO
/****** Object:  Table [dbo].[VehicleFuel]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleFuel]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleFuel]
GO
/****** Object:  Table [dbo].[VehicleBody]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleBody]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleBody]
GO
/****** Object:  Table [dbo].[VehicleAdvertisement]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleAdvertisement]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Seller]') AND type in (N'U'))
DROP TABLE [dbo].[Seller]
GO
/****** Object:  Table [dbo].[ConfigSetting]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConfigSetting]') AND type in (N'U'))
DROP TABLE [dbo].[ConfigSetting]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 1/24/2018 12:15:19 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'CarSalesDB')
DROP DATABASE [CarSalesDB]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'CarSalesDB')
BEGIN
CREATE DATABASE [CarSalesDB] ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
USE [CarSalesDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ConfigSetting]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConfigSetting]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ConfigSetting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleAdvertisementNextRefNo] [int] NULL,
 CONSTRAINT [PK_ConfigSetting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Seller]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Seller](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ContactPhone] [varchar](50) NULL,
	[ContactMobile] [varchar](50) NULL,
	[ContactEMail] [varchar](50) NULL,
	[PickupAddress] [varchar](max) NULL,
	[PostCode] [varchar](4) NULL,
 CONSTRAINT [PK_Seller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleAdvertisement]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleAdvertisement](
	[Reference_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Reference_No] [varchar](10) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[BodyType] [int] NULL,
	[EngineCapacity] [int] NULL,
	[AudoMeter] [decimal](18, 0) NULL,
	[Fuel] [int] NULL,
	[Description] [varchar](max) NULL,
	[Feature] [ntext] NULL,
	[Spects] [ntext] NULL,
	[Make] [int] NULL,
	[Model] [int] NULL,
	[IsFeatured] [bit] NOT NULL,
	[Transmission] [varchar](1) NOT NULL,
 CONSTRAINT [PK_VehicleAdvertisement] PRIMARY KEY CLUSTERED 
(
	[Reference_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleBody]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleBody]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleBody](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BodyDescription] [varchar](50) NULL,
	[ImageURL] [varchar](max) NULL,
 CONSTRAINT [PK_VehicleBody] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleFuel]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleFuel]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleFuel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FuelType] [varchar](50) NULL,
 CONSTRAINT [PK_VehicleFuel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleMake]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleMake]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleMake](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleMake] [varchar](50) NULL,
 CONSTRAINT [PK_VehicleMake] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleModel]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleModel]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleModel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleModel] [varchar](50) NULL,
	[VehicleMakeID] [int] NULL,
 CONSTRAINT [PK_VehicleModel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VehicleSeller]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleSeller]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VehicleSeller](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[SellerID] [int] NOT NULL,
 CONSTRAINT [PK_VehicleSeller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ViewPort]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewPort]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ViewPort](
	[ID] [int] NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_ViewPort] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ViewPortSetting]    Script Date: 1/24/2018 12:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ViewPortSetting]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ViewPortSetting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ViewPortID] [int] NULL,
	[SettingCode] [varchar](50) NULL,
	[PageSize] [int] NULL,
 CONSTRAINT [PK_ViewPortSetting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'111403723795691239967', N'6cf4cc63-9b91-4aa7-ab76-b7f814b63dc2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6cf4cc63-9b91-4aa7-ab76-b7f814b63dc2', N'ajanthan.kt@gmail.com', 0, N'ABvVITmAh2N6ycY38Q4U8aMFv14p6toRualwyTVmxkCUuLN51qRmVPXNmlOMg2OYJw==', N'1b496402-ce7b-44da-9f6b-e8af6c74925b', NULL, 0, 0, CAST(N'2018-01-23T13:13:33.240' AS DateTime), 0, 1, N'ajanthan.kt@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'9accd3fc-9188-4148-92a8-9020705b188d', NULL, 0, N'ALK7It2V7MP+yehdR1Vlw9FPvD0XaxHyHbSzgxiMzoJgNdGCf59crYoNqGO/rGL+Dg==', N'f3acf03c-5d90-4efc-8e54-4d5f0c8222c0', NULL, 0, 0, NULL, 0, 0, N'ajanthan')
SET IDENTITY_INSERT [dbo].[VehicleAdvertisement] ON 

INSERT [dbo].[VehicleAdvertisement] ([Reference_ID], [Title], [Reference_No], [Price], [BodyType], [EngineCapacity], [AudoMeter], [Fuel], [Description], [Feature], [Spects], [Make], [Model], [IsFeatured], [Transmission]) VALUES (1, N'Car Sale', N'REF0001', CAST(100.00 AS Decimal(18, 2)), 3, 1000, CAST(1000 AS Decimal(18, 0)), 1, NULL, NULL, NULL, NULL, NULL, 1, N'A')
INSERT [dbo].[VehicleAdvertisement] ([Reference_ID], [Title], [Reference_No], [Price], [BodyType], [EngineCapacity], [AudoMeter], [Fuel], [Description], [Feature], [Spects], [Make], [Model], [IsFeatured], [Transmission]) VALUES (3, N'AAAA', N'REF0002', CAST(150.00 AS Decimal(18, 2)), 3, 2000, CAST(15000 AS Decimal(18, 0)), 1, NULL, NULL, NULL, NULL, NULL, 0, N'A')
INSERT [dbo].[VehicleAdvertisement] ([Reference_ID], [Title], [Reference_No], [Price], [BodyType], [EngineCapacity], [AudoMeter], [Fuel], [Description], [Feature], [Spects], [Make], [Model], [IsFeatured], [Transmission]) VALUES (4, N'BBBB', N'REF0003', CAST(200.00 AS Decimal(18, 2)), 3, 2000, CAST(15000 AS Decimal(18, 0)), 1, NULL, NULL, NULL, NULL, NULL, 1, N'A')
SET IDENTITY_INSERT [dbo].[VehicleAdvertisement] OFF
SET IDENTITY_INSERT [dbo].[VehicleBody] ON 

INSERT [dbo].[VehicleBody] ([ID], [BodyDescription], [ImageURL]) VALUES (1, N'Sedan', NULL)
INSERT [dbo].[VehicleBody] ([ID], [BodyDescription], [ImageURL]) VALUES (2, N'Wagon', NULL)
INSERT [dbo].[VehicleBody] ([ID], [BodyDescription], [ImageURL]) VALUES (3, N'SUV', NULL)
SET IDENTITY_INSERT [dbo].[VehicleBody] OFF
SET IDENTITY_INSERT [dbo].[VehicleFuel] ON 

INSERT [dbo].[VehicleFuel] ([ID], [FuelType]) VALUES (1, N'Petrol')
INSERT [dbo].[VehicleFuel] ([ID], [FuelType]) VALUES (2, N'Diesel')
INSERT [dbo].[VehicleFuel] ([ID], [FuelType]) VALUES (3, N'Electric')
SET IDENTITY_INSERT [dbo].[VehicleFuel] OFF
SET IDENTITY_INSERT [dbo].[VehicleMake] ON 

INSERT [dbo].[VehicleMake] ([ID], [VehicleMake]) VALUES (1, N'Toyota')
INSERT [dbo].[VehicleMake] ([ID], [VehicleMake]) VALUES (2, N'Honda')
INSERT [dbo].[VehicleMake] ([ID], [VehicleMake]) VALUES (3, N'Hundai')
SET IDENTITY_INSERT [dbo].[VehicleMake] OFF
SET IDENTITY_INSERT [dbo].[VehicleModel] ON 

INSERT [dbo].[VehicleModel] ([ID], [VehicleModel], [VehicleMakeID]) VALUES (1, N'Axio', 1)
INSERT [dbo].[VehicleModel] ([ID], [VehicleModel], [VehicleMakeID]) VALUES (2, N'Prius', 1)
INSERT [dbo].[VehicleModel] ([ID], [VehicleModel], [VehicleMakeID]) VALUES (3, N'Corolla', 1)
SET IDENTITY_INSERT [dbo].[VehicleModel] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND name = N'RoleNameIndex')
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND name = N'IX_RoleId')
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/24/2018 12:15:19 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND name = N'UserNameIndex')
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_VehicleAdvertisement_IsFeatured]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[VehicleAdvertisement] ADD  CONSTRAINT [DF_VehicleAdvertisement_IsFeatured]  DEFAULT ((0)) FOR [IsFeatured]
END

GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_VehicleAdvertisement_Transmission]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[VehicleAdvertisement] ADD  CONSTRAINT [DF_VehicleAdvertisement_Transmission]  DEFAULT ('A') FOR [Transmission]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]'))
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]'))
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]'))
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]'))
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]'))
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleBody]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAdvertisement_VehicleBody] FOREIGN KEY([BodyType])
REFERENCES [dbo].[VehicleBody] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleBody]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] CHECK CONSTRAINT [FK_VehicleAdvertisement_VehicleBody]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleFuel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAdvertisement_VehicleFuel] FOREIGN KEY([Fuel])
REFERENCES [dbo].[VehicleFuel] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleFuel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] CHECK CONSTRAINT [FK_VehicleAdvertisement_VehicleFuel]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAdvertisement_VehicleMake] FOREIGN KEY([Make])
REFERENCES [dbo].[VehicleMake] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] CHECK CONSTRAINT [FK_VehicleAdvertisement_VehicleMake]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleModel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAdvertisement_VehicleModel] FOREIGN KEY([Model])
REFERENCES [dbo].[VehicleModel] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleAdvertisement_VehicleModel]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleAdvertisement]'))
ALTER TABLE [dbo].[VehicleAdvertisement] CHECK CONSTRAINT [FK_VehicleAdvertisement_VehicleModel]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleModel_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleModel]'))
ALTER TABLE [dbo].[VehicleModel]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModel_VehicleMake] FOREIGN KEY([VehicleMakeID])
REFERENCES [dbo].[VehicleMake] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleModel_VehicleMake]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleModel]'))
ALTER TABLE [dbo].[VehicleModel] CHECK CONSTRAINT [FK_VehicleModel_VehicleMake]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_Seller]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller]  WITH CHECK ADD  CONSTRAINT [FK_VehicleSeller_Seller] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Seller] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_Seller]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller] CHECK CONSTRAINT [FK_VehicleSeller_Seller]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_VehicleAdvertisement]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller]  WITH CHECK ADD  CONSTRAINT [FK_VehicleSeller_VehicleAdvertisement] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[VehicleAdvertisement] ([Reference_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VehicleSeller_VehicleAdvertisement]') AND parent_object_id = OBJECT_ID(N'[dbo].[VehicleSeller]'))
ALTER TABLE [dbo].[VehicleSeller] CHECK CONSTRAINT [FK_VehicleSeller_VehicleAdvertisement]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ViewPortSetting_ViewPort]') AND parent_object_id = OBJECT_ID(N'[dbo].[ViewPortSetting]'))
ALTER TABLE [dbo].[ViewPortSetting]  WITH CHECK ADD  CONSTRAINT [FK_ViewPortSetting_ViewPort] FOREIGN KEY([ID])
REFERENCES [dbo].[ViewPort] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ViewPortSetting_ViewPort]') AND parent_object_id = OBJECT_ID(N'[dbo].[ViewPortSetting]'))
ALTER TABLE [dbo].[ViewPortSetting] CHECK CONSTRAINT [FK_ViewPortSetting_ViewPort]
GO
USE [master]
GO
