@{
    ViewBag.Title = "Contact";
}
 
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

<div class="contact-details">
    <div class="media">
        <div class="media-left">
            <i class="fa fa-map-marker"></i>
        </div>
        <div class="media-body">
            <h4>Office Address</h4>
            <p>CHADSTONE VIC 3148, Victoria, Australia</p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <i class="fa fa-phone"></i>
        </div>
        <div class="media-body">
            <h4>Phone Number</h4>
            
            <p>
                <a href="tel:+55-417-634-7071">Mobile: +61406314133</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="media-body">
            <h4>Developers</h4>
            <p>
               Ajanthan <a href="https://au.linkedin.com/in/ajanthant" target="_blank">Ajanthan</a>
            </p>
            <p>
               Samitha <a href="https://lk.linkedin.com/in/samitha-senarath-5a105a22" target="_blank">Samitha Senarath</a>
            </p>
        </div>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="media-body">
                <h4>Email Address</h4>
                <p>
                    <a href="mailto:info@themevessel.com">ajanthan2018@outlook.com</a>
                </p>
                 
            </div>
        </div>
    </div>
 