
<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item item-1">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Title-->
                        <h1><span>Welcome to</span> Auto Car</h1>
                        <!-- Paragraph -->
                        <p></p>
                        <!-- Btn -->                     
                        <a href="@Url.Action("GetAdvertisements", "VehicleAdvertisementsMVC")" class="btn btn-view">View all car</a>
                    </div>
                </div>
            </div>
            <div class="item item-2 active left">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Title-->
                        <h1><span>Best place to </span> find cars!</h1>
                        <!-- Paragraph -->
                        <p></p>
                        <!-- Btn -->                       
                        <a href="@Url.Action("GetAdvertisements", "VehicleAdvertisementsMVC")" class="btn btn-view">View all car</a>
                    </div>
                </div>
            </div>
            <div class="item item-3 next left">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Title-->
                        <h1><span>Best place for </span>sell car!</h1>
                        <!-- Paragraph -->
                        <p></p>
                        <!-- Btn -->                      
                        <a href="@Url.Action("GetAdvertisements", "VehicleAdvertisementsMVC")" class="btn btn-view">View all car</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <img src="Content/img/png/chevron-left.png" alt="chevron-left">
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <img src="Content/img/png/chevron-right.png" alt="chevron-right">
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>